<div class="account__view-title">
	<h2 class="h2">{{ 'customer.addresses.address_list' | t }}</h2>
</div>

<div class="account__view-description">
	<p>{{ 'customer.addresses.description' | t }}</p>
</div>

<div class="account-section">
	<div class="account-section__body">
		<div class="account-cards">
			{%- if customer.addresses.size > 0 -%}
				<div class="account-card">
					<div class="account-card__title">
						<p>{{ 'customer.addresses.title' | t }}</p>
					</div>

					<div class="account-card__content">

						<div class="account__table">

							<table class="">
								<thead class="hidden-xs hidden-sm">
									<tr>
										<th>Address</th>
										<th></th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									{%- for address in customer.addresses -%}

										{%- assign customer_street_address = '' -%}
										{%- if address.street != blank -%}
											{%- assign customer_street_address = customer_street_address | append:address.street -%}
										{%- endif -%}

										{%- if address.city != blank -%}
											{%- assign customer_street_address = customer_street_address | append: ', ' | append: address.city -%}
										{%- endif -%}

										{%- if address.province != blank -%}
											{%- assign customer_street_address = customer_street_address | append: ', ' | append: address.province -%}
										{%- endif -%}

										{%- capture address_form %}
											{%- form 'customer_address', address -%}
											{%- assign form_id = form.id -%}
											{%- endform -%}
										{% endcapture -%}

										<tr>
											<td>{{ customer_street_address }}</td>
											<td><a href="/account/addresses?view=edit&page={{ forloop.index }}">{{ 'customer.addresses.edit' | t }}</a></td>
											<td><a href="#" data-form-id="{{ form_id }}" class="address-delete">{{ 'customer.addresses.delete' | t }}</a></td>
										</tr>
									{%- endfor -%}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			{%- endif -%}

			<div class="account-card">
				<div class="account-card__title">
					<p>{{ 'customer.addresses.add_new' | t }}</p>
				</div>

				<div class="account-card__footer">
					<a href="/account/addresses?view=new" class="btn btn-secondary">{{ 'customer.addresses.add' | t }}</a>
				</div>
			</div>
		</div>
	</div>
</div>