{% comment %}
	@params
	product 				- {product object} *required
{% endcomment %}

{%- assign enable_wishlist = settings.enable_wishlist -%}

{%- assign tags = product.tags | downcase -%}

{%- assign is_offline_only = false -%}

{%- if tags contains 'offline only' -%}
	{%- assign is_offline_only = true -%}
{%- endif -%}

{%- if product != blank -%}
	{%- assign current_variant = product.selected_or_first_available_variant -%}

	{%- capture product_options -%}
		{%- unless product.has_only_default_variant -%}
			<div class="product-form__options">
				{%- render 'product-options-gift-card',
					product: product
				-%}
			</div>
		{%- endunless -%}
	{%- endcapture -%}

	{%- capture no_script -%}
		<select name="id" class="no-js hidden">
			{%- for variant in product.variants -%}
				<option
					{% if variant == current_variant %}selected="selected"{% endif %}
					{% unless variant.available %}disabled="disabled"{% endunless %}
					value="{{ variant.id }}"
				>
					{{- variant.title -}}
				</option>
			{%- endfor -%}
		</select>
	{%- endcapture -%}

	{%- capture form_submit -%}
		<div class="product-form__submit">
			<div class="product-form__submit-row">
				{%- if is_offline_only -%}
					<button class="button button--primary product-form__button product-form__button--main"
							type="button"
							name="add"
							disabled="disabled"
					>
						<span>
							{{- 'products.product.button.offline_only' | t -}}
						</span>
					</button>
				{%- else -%}
					<button class="button button--primary product-form__button product-form__button--main"
						type="submit"
						name="add"
						data-add-to-cart
						{% unless current_variant.available %}disabled="disabled"{% endunless %}
					>
						<span data-add-to-cart-text>
							{%- if current_variant -%}
								{%- if current_variant.available -%}
									{{- 'products.product.add_to_cart' | t -}}
								{%- else -%}
									{{- 'products.product.sold_out' | t -}}
								{%- endif -%}
							{%- else -%}
								{{- 'products.product.unavailable' | t -}}
							{%- endif -%}
						</span>
					</button>
				{%- endif -%}

				{%- if enable_wishlist == true -%}
					<button type="button" class="button button--secondary product-form__button product-form__button--wishlist">
						{%- comment -%}
							@TODO
							Add wishlist button
						{%- endcomment -%}
					</button>
				{%- endif -%}
			</div>
		</div>
	{%- endcapture -%}

	{%- capture sucess_toast -%}
		<div class="product-form__success-toast product-form__success-toast--hidden" data-add-to-cart-success>
			<p class="product-form__success-toast-message">
				{{- 'general.cart.item_added' | t -}}
			</p>
		</div>
	{%- endcapture -%}

	{%- form 'product', product, class: 'product-form', data-product-form: '' -%}
		{{- product_options -}}

		{{- no_script -}}

		{{- form_submit -}}

		{{- sucess_toast -}}
	{%- endform -%}
{%- endif -%}
