{%- assign heading                  = section.settings.heading -%}
{%- assign title                    = section.settings.title -%}
{%- assign text                     = section.settings.text | replace: '<p', '<p class="career-all-departments-info__text"' | replace: '<a', '<a class="career-all-departments-info__text-link"'-%}
{%- assign text_two                 = section.settings.text_two | replace: '<p', '<p class="career-all-departments-info__text"' | replace: '<a', '<a class="career-all-departments-info__text-link"'-%}

{% capture button_one %}
	{% if section.settings.button_one_url != blank and section.settings.button_one_text %}
		<a href="{{ section.settings.button_one_url }}" class="button button--secondary button--main career-all-departments-info__button">{{ section.settings.button_one_text }}</a>
	{% endif %}
{% endcapture %}

{% capture button_two %}
	{% if section.settings.button_two_url != blank and section.settings.button_two_text %}
		{% assign class = '' %}
		{% if section.settings.acuity_embed_button %}
			{% assign class = 'acuity-embed-button' %}
		{% endif %}

		<a href="{{ section.settings.button_two_url }}" class="button button--secondary button--main career-all-departments-info__button {{ class -}}"
		   target="_blank">{{ section.settings.button_two_text }}</a>
	{% endif %}
{% endcapture %}

{%- capture content_block -%}
    {%- if heading != blank -%}
        <h1 class="career-all-departments-info__heading">
            {{- heading -}}
        </h1>
    {%- endif -%}

    {%- if title != blank -%}
        <h3 class="career-all-departments-info__title">
            {{- title -}}
        </h3>
    {%- endif -%}

    {%- if text != blank -%}
        {{- text -}}
    {%- endif -%}

	{%- if button_one != blank -%}
		{{- button_one -}}
	{%- endif %}

	{%- if text_two != blank -%}
		{{- text_two -}}
	{%- endif -%}

	{%- if button_two != blank -%}
		{{- button_two -}}
	{%- endif -%}
{%- endcapture -%}

<section class="career-all-departments-info"
        data-section-id="{{- section.id -}}"
        data-section-type="career-all-departments-info"
>
    <div class="container career-all-departments-info__container">
        <div class="career-all-departments-info__breadcrumbs-wrapper">
            {%- render 'breadcrumbs' -%}
        </div>

        {%- if content_block != blank -%}
            <div class="career-all-departments-info__content-container">
                {{- content_block -}}
            </div>
        {%- endif -%}
    </div>
</section>

{% schema %}
    {
        "name": "All departments info",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Careers"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Unser Team ist geprägt von Eigenverantwortung, Freundlichkeit und Hilfsbereitschaft"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            },
			{
				"type": "header",
				"content": "Button"
			},
			{
				"type": "url",
				"id": "button_one_url",
				"label": "Button url"
			},
			{
				"type": "text",
				"id": "button_one_text",
				"label": "Button text"
			},
			{
				"type": "richtext",
				"id": "text_two",
				"label": "Text"
			},
			{
				"type": "header",
				"content": "Button"
			},
			{
				"type": "url",
				"id": "button_two_url",
				"label": "Button url"
			},
			{
				"type": "text",
				"id": "button_two_text",
				"label": "Button text"
			},
			{
				"type": "checkbox",
				"id": "acuity_embed_button",
				"label": "Acuity embed",
				"default": true
			}
        ],
		"templates": [
		       "page"
		],
		"presets": [
		  {
			"name": "All departments info"
		  }
		]
    }
{% endschema %}
