{%- capture content -%}
    {%- for block in section.blocks -%}
        {%- assign block_type               = block.type -%}

        {%- case block_type -%}
            {%- when "text" -%}
                {%- assign text                 = block.settings.text -%}

                <div class="help-center-content__text-content">
                    {{- text -}}
                </div>
            {%- when "link" -%}
                {%- assign link_text                 = block.settings.link_text -%}
                {%- assign url                      = block.settings.link -%}

                <div class="help-center-content__link-container">
                    <a href="{{- url -}}" download class="help-center-content__link">
                        {{- link_text -}}
                    </a>
                </div>
        {%- endcase -%}
    {%- endfor -%}
{%- endcapture -%}

{%- assign heading              = section.settings.heading -%}

<section class="help-center-content"
        data-section-id="{{- section.id -}}"
        data-section-type="help-center-content-widerruf"
>
    <div class="help-center-content__container help-center-content-widerruf">
        <h1 class="help-center-content__heading">
            {{- heading -}}
        </h1>

        {%- if content != blank -%}
            {{- content -}}    
        {%- endif -%}
    </div>
</section>


{% schema %}
    {
        "name": "Help center widerruf",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Widerruf & formular"
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name": "Info text",
                "settings": [
                   {
                       "type": "richtext",
                       "id": "text",
                       "label": "Info text"
                   }
                ]

            },
            {
                "type": "link",
                "name": "link",
                "settings": [
                    {
                        "type": "text",
                        "id": "link_text",
                        "label": "Link text"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Link"
                    }
                ]
            }
        ]
        
    }
{% endschema %}